html {
	height: 100%;
}

body {
	height: 100%;
}

#main-app {
	background: #f9f9f9;
	padding: 0 15px;
}

.main {
	height: 100%;
}

#sidebar {
	background: #efefef;
}

.img-wallet {
	width: 100%;
	height: 100px;
	background: url('../img/wallet-icon.png') no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0 auto;
	box-shadow: inset 0px -5px 7px -7px #333;

	background-position: 0 0;
	-webkit-transition: background-position 0.2s ease-in-out;
	-moz-transition: background-position 0.2s ease-in-out;
	-ms-transition: background-position 0.2s ease-in-out;
	-o-transition: background-position 0.2s ease-in-out;
	transition: background-position 0.2s ease-in-out;
}